@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: #130E4A;
    color: #F7EBFF;
}

/*Botão muda cor da tela*/
.cabecalho__opcoes__modo {
    position: relative;
    width: 80px;
    height: 30px;
    border-radius: 25px;
    box-shadow: 0 0 2.5px 0 #FFFFFF;
    cursor: pointer;
    background-color: #130E4A;
}

.cabecalho__opcoes__modo__ponto {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    border-radius: 50%;
    background-color: #8257E6;
    transition: left 1s;
}

.cabecalho__opcoes__modo__ponto-move {
    left: calc(100% - 30px);
}

/*Alteração em elementos a partir da troca de tela*/
.dark {
    background-color: #FFFFFF;
    color: #FFFFFF;
}

.dark .principal__sobre-nos__texto {
    color: black;
}

.dark .principal__projetos__destaques-projeto-items-subtitulo {
    color: #130E4A;
}

.dark .inputBox, .dark .assunto, .dark .rodape__autor {
    color: #8257E6;
}

.dark .inputUser, .dark .inputUserbox {
    border: 0.5px solid #8257E6;
}

.menu__lista {
    padding: 0;
    margin: 0;
    width: 90vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu__lista__nav {
    padding: 5px 5px 0 5px;
    border-radius: 10px 10px 0px 0px;
    transition: background-color 0.3s;
}

.menu__lista__nav.active {
    background-color: rgba(130, 87, 230, 1);
}

.menu__lista a{
    text-decoration: none;
    color: #F7EBFF;
}

/*CABEÇALHO*/
.cabecalho {
    background-color: #130E4A;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    z-index: 5;
}

.cabecalho__imagens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho__opcoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

.cabecalho__opcoes__3pontos {
    display: flex;
    width: 80px;
    height: 25px;
    justify-content: space-between;
}

.cabecalho__opcoes__3pontos__ponto {
    border: 1px solid #8257E6;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.cabecalho__imagens__container {
    display: flex;
    flex-direction: column;
}

/*PROJETOS*/
.principal {
    margin-top: 75%;
}

#principal__sobre-nos, #principal__projetos, #principal__contato {
    scroll-margin-top: 100px;
}

.principal__projetos__destaques {
    display: flex;
    flex-direction: column;
}

.principal__projetos__destaques-projeto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.principal__projetos__destaques-projeto-items {
    background-color: #8257E694;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390.495px;
    height: 164.167px;
    margin-top: 3%;
}

.principal__projetos__destaques-projeto-items:hover {
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
    transition: 1s ease;
}

.principal__projetos__destaques-projeto-items-titulo {
    background-color: #130E4A;
    width: 199.232px;
    height: 23.908px;
    text-align: center;
}

.principal__projetos__destaques-projeto-items-subtitulo {
    background-color: #8257E6;
    width: 121.133px;
    height: 23.908px;
}

/*Imagens fundo projetos*/
#principal__projetos__destaques-projeto01 {
    background-image: url(assets/pamonha-iris.jpeg);
    background-size: 395px 165px;

}

/*CONTATO*/
.principal__contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 125px;
}

#principal__titulo__contato {
    margin-left: 0;
}

fieldset {
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
}

.inputBox {
    display: flex;
    flex-direction: column-reverse;
}

.inputUser {
    border: 0.5px solid #8257E6;
    border-radius: 15px;
}

.inputUserbox {
    margin: 5%;
    border: 0.5px solid #8257E6;
}

#submit {
    width: 619.291px;
    height: 62.992px;
    border-radius: 15px;
    border: 1px solid #000;
    background-color: #8257E6;
}

/*RODAPÉ*/
.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #8257E6;
    padding-top: 25px;
    padding-bottom: 15px;
}

.rodape__icones {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}