@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #130E4A;
    color: #F7EBFF;
}

.cabecalho {
    background-color: #130E4A;
}

/*Botão muda cor da tela*/
.cabecalho__opcoes__modo {
    position: relative;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    box-shadow: 0 0 2.5px 0 #FFFFFF;
    cursor: pointer;
    background-color: #130E4A;
}

.cabecalho__opcoes__modo__ponto {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    border-radius: 50%;
    background-color: #8257E6;
    transition: left 1s;
}

.cabecalho__opcoes__modo__ponto-move {
    left: calc(100% - 40px);
}

.dark {
    background-color: #FFFFFF;
}

.menu__lista a{
    text-decoration: none;
}